@import url("./static.css");

body{
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 8rem;
  color: var(--red-100);
  margin: auto;
}

.text {
  font-size: 2rem;
  margin: auto;
}
