::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--pink-60));
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--pink-100));
}
