@import url("./static.css");

.title {
  font-size: 2rem;
  margin-top: 2rem;
}
.users-img{
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}
.user-container{
  border-radius: 2rem;
  background-color: var(--white-80);
  margin: 1rem 2rem;
}
.user-username{
  margin-top: 2rem;
  text-align: center;
}