<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram | 404</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="not-found-content">
      <h1 class="title mt-4">404</h1>
      <h2 class="text mt-4">sorry page not found</h2>
      <a class="btn btn-success mt-4" href="/">go back to home</a>
    </div>
  </body>
</html>
