<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sorry | Instagram</title>
  </head>
  <body>
    <h1>
      فعلا کار با سوکت بلد نیستم خدا بخواد بعدا چت ریل تایم داریم.
    </h1>
  </body>
</html>
